@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
body {
    background-color: #F4EFE5;
}

.main-box {
    border-radius: 10px;
    background-color: white;
    margin: 5% auto;
    width: 1145px;
    box-shadow: 7px #E3CEADBD;
}
nav ul{
    width: 500px;
    height: 35px;
    padding-top: 90px;
    padding-bottom: 90px;
    margin: auto;
}
nav li {
    display: inline-block;
    margin-right: 45px;
    color: #747069;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.all-button {
    padding: 7px 28px 8px 22px;
    background-color: #FEF8EB;
    border-radius: 6px;
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.first-content img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.item-parent {
    margin-left: 120px;
}
.item {
    vertical-align: middle;
    width: 271px;
    height: 280px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    display: inline-block;
    margin-right: 45px;
}
.name {
    margin-top: 30px;
    display: block;
    text-align: center;
    color: #000;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
}
.name1 {
    display: block;
    margin-top: 5px;
    color: #747069;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
button {
    border-radius: 5px;
    background: #EB6649;
    box-shadow: 0px 4px 10px 0px rgba(235, 102, 73, 0.25);
    padding: 15px 40px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    margin: 50px 491px;
    cursor: pointer;
}

